.contenedor_pronostico {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.pronostico {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
