.contenedor_clima_actual {
  display: flex;
  justify-content: center;
}

.clima_actual {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.fuente_clima_actual {
  font-size: 30px;
  font-style: italic;
}

.contenedor_padre_datos_clima {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
}

.contenedor_hijo_datos_clima {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 30%;
}
