@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 84%
  );
}

/* Buscador */

.buscador {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buscador-input:focus {
  width: 280px;
}

/* Temperatura actual */

.contenedor-temperatura-actual {
  display: flex;
  justify-content: center;
}

.temperatura-actual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* Pronóstico */

.contenedor-pronostico {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pronostico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
